// Fonts.
$font--primary:  'Lato', 'Rubik', sans-serif;

// New Pallette
$color--background: #ffffff;
$color--button: #039;
$color--button-text: #ffffff;
$color--headline: #303030;
$color--paragraph: #303030;
$color--secondary: #ffffff;
$color--tertiary: #e45858;